@import url('https://fonts.googleapis.com/css?family=Pavanam|Raleway+Dots|Tangerine');
@import url('https://fonts.googleapis.com/css?family=Allura|Limelight|Nixie+One');
$font_title1: 'Tangerine', cursive;
$font_title2: 'Raleway Dots', cursive;
$font_content: 'Nixie One', cursive;
$font_1: 'Allura', cursive;
$font_3: 'Limelight', cursive;